<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %> 

  <body>
    <%-  include("../partials/_nav.ejs") %>
    <div class= "registerForm mt-4 container-fluid">
      <form action="/login" method="POST">
        <div>
          <label for="validationDefault04" class="form-label">E-Mail</label>
          <input type="email" name="email" class="form-control" id="validationDefault04" required>
        </div>
        <div>
          <label for="validationDefault06" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="validationDefault06" required>
        </div>
        <div class="col-12 mt-4">
          <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </body>


</html>