<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head.ejs") %> 

  <body>
    <div id="landingCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner vh-100">
        <div class="carousel-item h-100 active" style="background:url('/assets/20190921-DSCF0885.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0933.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0939.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0960.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1064.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1105.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1124.jpg'); background-size: cover;" ></div>
      </div>
    </div>
    <div id="centeredText">
      <div class="d-flex ">
        <h1 class="logoHover" id="timed"><strong>TIMED</strong></h1>
        <h1 class="logoHover" id="attackLogo"><strong>ATTACK</strong></h1>
      </div>
      <% if(typeof user !== 'undefined') {%> 
        <a href="/profile/<%= user.id %>" class="nav-link landButton m-1">Profile</a>
        <a href="/logout" class="nav-link landButton ">Log Out</a></button>  
      <% } else {%> 
      <a href="/register" class="nav-link landButton m-1">Sign Up</a>
      <a href="/login" class="nav-link landButton ">Sign In</a></button>
      <% } %> 
      <a href="/about" class="info-button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </svg></a>
    </div>
    </body>
</html>