<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head.ejs") %> 

  <body>
    <div id="landingCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner vh-100">
        <div class="carousel-item h-100 active" style="background:url('/assets/20190921-DSCF0885.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0933.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0939.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF0960.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1064.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1105.jpg'); background-size: cover;" ></div>
        <div class="carousel-item h-100" style="background:url('/assets/20190921-DSCF1124.jpg'); background-size: cover;" ></div>
      </div>
    </div>
    <div id="centeredText">
      <h1><strong>TIMED ATTACK</strong></h1>
    </div>
</body>
</html>