<!DOCTYPE html>

<%- include("partials/_head.ejs") %> 

<body>
  <%- include("partials/_nav.ejs") %> 

  <div class= "registerForm mt-4 container-fluid">
    <form action="/profile/car" method="POST">
      <div>
        <input type="hidden" name="username" class="form-control" id="validationDefault02" value="<%= user.id %> " required>
      </div>
      <div>
        <label for="validationDefault01" class="form-label">Make</label>
        <input type="text" name="make" class="form-control" id="validationDefault02"  required>
      </div>
      <div>
        <label for="validationDefault03" class="form-label">Model</label>
        <input type="text" name="model" class="form-control" id="validationDefault03"  required>
      </div>
      <div>
        <label for="validationDefault04" class="form-label">Tire</label>
        <input type="text" name="tire" class="form-control" id="validationDefault04" required>
      </div>
      <div>
        <label for="validationDefault05" class="form-label">Image</label>
        <input type="text" name="image" class="form-control" id="validationDefault05" required>
      </div>
      <div>
        <label for="validationDefault05" class="form-label">Modifications</label>
        <input type="text" name="modifications" class="form-control" id="validationDefault05" required>
      </div>
      <div class="col-12 mt-4">
        <button class="btn btn-primary" type="submit">Create Car</button>
      </div>
    </form>
  </div>
</body>