@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&display=swap");

html {
  height: auto;
  min-height: 100%;
  background-size:cover;
}

body {
  background-image: linear-gradient(  #ffffff, #2d3142 );
  background-size: auto 100%; 
  background-repeat: no-repeat;
}

.btn-primary {
  background-color:#2d3142;
  border: none;
  transition: .2s;
  color: #ef8354;
}

.btn-primary:hover {
  background-color: #ef8354;
  color: #2d3142;
}

/* LANDING PAGE NOTE */

a {

  text-decoration: none;
  color:#ef8354;
}

a:hover {
  color: #2d3142;
  transform: scale(1.01);
}

#landingCarousel img {
  z-index: -10;
}  

body {
  background-color: #ffffff;
  font-family: 'Cantarell', sans-serif;
}


#centeredText {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#timed {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #2d3142;
  font-size: 15vh;
  transition: .5s;
}

#timed:hover {
  text-shadow: 5px 5px #ef8354;
}

#attackLogo {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ef8354;
  font-size: 15vh;
  transition: .5s;
}

#attackLogo:hover {
  text-shadow: 5px 5px #2d3142;
}

.landButton {
  text-decoration: none;
  color :#ef8354;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  font-size: 125%;
  border-radius: 5px;
  transition: .2s;
  background-color: #2d3142;
}

.landButton:hover {
  background-color: #ef8354;
  color:#4f5d75;
  transform: scale(1.01);
}


/* NOTE NAV BAR */

nav {
  background-color: #4f5d75;
}

.navbar-brand {
  border-radius: 5px;
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 225%;
  transition: .2s;
}

.logoBackground {
  border-radius: 5px;
  transition: .2s;
}

.logoBackground:hover {
  background-color:#ef8354 ;
  transform: scale(1.01);
}

.navbar-brand:hover {
  color: #4f5d75;
  transform: scale(1.01);
}

.navButton {
  text-decoration: none;
  color :#ef8354;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  font-size: 125%;
  border-radius: 5px;
  transition: .2s;

}

.navButton:hover {
  background-color: #ef8354;
  color:#4f5d75;
  transform: scale(1.01);
}

/* track show carousel NOTE*/
#trackCarousel img {
  height: 33vh;
  object-fit: cover;
}

/* CARD NOTE */

.card {
  background-color: #4f5d75;
  transition: .2s;
}

.card:hover {
  box-shadow: 5px 5px #ef8354;
  transform: scale(1.01);
}

.list-group-item {
  background-color: #bfc0c0;
  color: #2d3142;
  font-weight: bold;
}

.card-title {
  color: #ef8354;
  font-weight: bold;
}

/* PROFILE NOTE */



/* TRACK NOTE */
section {
  color: #ef8354;
}

.track-list {
  border-radius: 5pc;
  transition: .2s;
}

.track-list:hover {
  box-shadow: 5px 5px #ef8354;
  transform: scale(1.01);
}
