#landingCarousel img {
  z-index: -10;
}  

#centeredText {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#landingButton {
  color: #ef8354;
  max-width: 100px;
}

#attackLogo {
  color: #ef8354;
}