
/* LANDING PAGE NOTE */

a {
  text-decoration: none;
  color:#ef8354;
}

a:hover {
  color: #2d3142;
}

#landingCarousel img {
  z-index: -10;
}  

body {
  background-color: #ffffff;
}


#centeredText {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#timed {
  color: #2d3142;
  font-size: 15vh;
}

#attackLogo {
  color: #ef8354;
  font-size: 15vh;
}

#landingButton {
  text-decoration: none;
  color: #ef8354;
  max-width: 100px;
  background: rgba(18, 19, 26, .5);
}

#landingButton:hover {
  text-decoration: none;
  color: #2d3142;
  background-color: #ef8354;
  max-width: 100px;
}


/* NOTE NAV BAR */

nav {
  background-color: #4f5d75;
}

/* track show carousel */
#trackCarousel img {
  height: 33vh;
  object-fit: cover;
}

/* CARD */

.card {
  background-color: #4f5d75;
}

.list-group-item {
  background-color: #bfc0c0;
}